/* ESTILO GERAL */
*{
    font-family: "Arvo", serif;
}
body{
    margin: 0px;
}
:root{
    --colorfonte:#111;
    --colorheader:#c9d7dd;
    --colorcanto:#c9d7dd;
    --colorfundo:#f2efe5;
    --colornomes:#111;

}


section.principal .interface{
     border: solid 2px #929ea3; 
    padding: 4%;
    border-radius: 20px;
    background-color:var(--colorfundo) ;
    opacity: 90%;
}
section.principal{
    background-color:var(--colorcanto);
}

ul li.hoverdaimagem a h3{
    color:var(--colornomes);
}
    
h2{
    color:var(--colorfonte);
    font-size: 35px;
    font-family: "New Amsterdam", sans-serif;
}
.imagens p{
    color: #111;
}
html{
    scroll-behavior: smooth;
}
.interface{
    max-width: 90%;
    margin: 0 auto;
}
.flex{
    display: flex;
}
ul{
    list-style-type: none;
    text-decoration: none;
}
li{
    list-style-type: none;
    text-decoration: none;
}
i{
    font-size: 30px;
    color: #637a9f;
}
/* ESTILO HEADER */
header{
    padding: 10px 2%;
    background-color:var(--colorheader);
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
}
header a:hover{
    color: rgb(255, 255, 255);

    transition: .2s;
    transform: translateY(-5px);

}

.bi-fire:hover{
    color:rgb(255,177,42);

    transition: .2s;
}
.bi-search:hover, .bi-list:hover, .bi-person:hover{
    color: #1f2544;
    transform: scale(1.05);
    transition: .2s;
}
header nav.menu ul li{
    display: inline-block;
    padding: 0 20px;
}
.bi-list{
    padding-left: 0;
}
nav{
    padding-left: 0;
}



/* Principal */
section.principal{
    padding: 0px 4%;
}
section.principal .flex{
    gap: 20px;
}
section.principal .interface{
    padding: 10px 4%;
}
.imagens ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0%;

}
.imagens li{
    transition:.3s;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;

}
.logo{
    transition:.3s;

}
.flex {
    display: flex;
    flex-direction: column;
}


.hoverdaimagem:hover {
    transform: translateY(-5px);
    transform: scale(1.02);   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: solid 1px rgb(71, 64, 64);
    

}
.imagens img{
    border-radius: 10px;
    


}
.imagens{
    text-align: center;
    padding: 3px;
    cursor: pointer;

}

.imagens h3{
    padding: 0px;
    margin: 0px;
    color: var(--colornomes);
    font-size: 30px;
}
.imagens p{
    color: var(--colornomes);
    font-size: 28px;
}
span{
    color: gold;
}

/* PopUp */

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}


.popup-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 600px;
    max-height: 80%;
    overflow-y: auto;
    text-align: left;
    border-radius: 10px;
    font-size: 20px;

}
.popup-content #popupTitle, #popupCategory{
    justify-content: center;
    text-align: center;
    margin-right: 60px;

}

.popup-content img{
    max-width:30%;
    margin-right: 20px;
    float: left;

}
.popup-content button{
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(114, 172, 219);
    box-shadow: none;
    border: none;
    padding: 15px;
    width: 100%;
    margin-top: 1%;
}
.popup-content button{
    text-decoration: none;
    color: #000;
    font-size: 20px;

}



.popupBotao:hover{
    background-color:rgb(114, 172, 219);
    cursor: pointer;
    transition: .2s;
}


.popup.abrirpopup {
    display: block;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* OVERLAY ESCRITORES */

.container {
    position: relative;
      width: 181px;
      height: 233px;
      display: flex;
      justify-content: space-between;
  }
  

  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #343435ce;

    overflow: hidden;
    height: 0;
    transition: .5s ease;
    border-radius: 10px;
  }
  
.container:hover .overlay{
    height: 100%;
    width: 100%;

  }
  .image {
  height: 100%;
  width: 100%;
}
  .text{

    
      color: #ddd;
      font-size: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);

  }
.text p{
    color: #fff;
    font-size: 16px;

}

/* ESTILO FILTRO */
.filtrar {
    position: relative;
    background-color: rgb(114, 172, 219);
    padding: 0px 4%;
}

.filtro-icone {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.filtro-icone i {
    width: 40px;
    height: 40px;
}

.filter-dropdown {
    display: none;
    position: fixed;
    top: 60px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    z-index: 9;
    width: 250px;
}

.filter-dropdown h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
    color: #333;
}

.filter-dropdown label {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
    color: #555;
}

.filter-dropdown button {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgb(73, 153, 218);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1em;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}




.filter-dropdown {
    display: none;
    position: absolute; 
    top: calc(100% + 5px); 
    left: 0; 
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    width: 250px; 
}

.filter-header {
    display: flex;
    justify-content: flex-start;

    border-bottom: 1px solid #ccc;

    margin-bottom: 20px;
}


.filter-header i.bi-x {
    font-size: 20px;
    cursor: pointer;
    color: #000;
}


.filter-menu select, 
.filter-menu input, 
.filter-menu button {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.menu li:hover .filter-dropdown {
    display: block;
}

